* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px; 
  font-family: 'Quantico', sans-serif;
  color:#ffffff;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 40px 0;

}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    border-top: 1px solid #b5ff78;
    border-bottom: 1px solid #b5ff78;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 40px 10px;
}

p {
    font-size: 20px;
    text-align: center;
}

a.button {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #8ef837;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    transition: 0.2s;
}

a.button:hover {
    outline: 2px solid #b5ff78;
    background-color: #316001;
}
body{
    background: radial-gradient(circle, #043a2a, #000000);
    font-family: 'Quantico', sans-serif;
    background-color: #000000;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
}
.project {
    background-color: #050f02;
    border: 1px solid #b5ff78;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.project h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #b5ff78;
    margin-bottom: 20px;
}

.technology {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #b5ff78;
    border-radius: 20px;
    font-size: 16px;
    margin: 20px;
}